---
- name: Update password for user {{ current_user.key }} on remote host
  ansible.builtin.user:
    name: "{{ current_user.key }}"
    password: "{{ current_user.value | password_hash('sha512') }}"
    update_password: always
  become: yes
  no_log: true
