---
# PAM360 Password Sync Playbook

- name: Sync passwords with PAM360
  hosts: all
  gather_facts: true
  become: true

  vars:
    pam_url: "https://10.0.0.14:8282"
    pam_token: "44F011D4-9D03-4FFB-BB20-C1EA81A471D9"
    pam_target_users:
      - root
      - admin
      - jdoe
      - trump
    pam_resource_group_name: "Linux Servers"
    pam_share_user_names: 
      - "admin"
    
    # User group sharing (preferred over individual users)
    pam_share_group_names:
      - "LINUX ADMINS"
    
    # Password file options
    pam_create_password_file: false  # Set to false to disable KeePass CSV generation
    
    # Local account options
    pam_create_local_accounts: true  # Set to true to create local accounts if they don't exist

  roles:
    - pam360_sync